[user]
	name = paskn
	email = pashakhin@gmail.com
[credential]
	# helper = osxkeychain
[core]
	excludesfile = ~/.dotfiles/git/.gitignore
[alias]
	lg = log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'
	pandiff = difftool -t pandiff -y
[difftool "pandiff"]
	cmd = pandiff \"$LOCAL\" \"$REMOTE\"
