[user]
	name = paskn
	email = pashakhin@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/sp/.dotfiles/git/.gitignore
[alias]
	lg = log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'
